NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
NOWPAYMENTS_API_KEY=
NOWPAYMENTS_IPN_SECRET=
TELEGRAM_BOT_TOKEN=
TELEGRAM_VIP_CHAT_ID=
ADMIN_PASSWORD=
ADMIN_EMAILS=
NEXT_PUBLIC_SITE_URL=
